.home-header {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  border-bottom: 1px solid white;
  padding: 5px 10px;
}
.home-content {
  display: flex;
  flex-direction: row;
  width: 450px;
  height: 450px;
  column-gap: 35px;
  margin-top: 32px;
}
.home-label {
  min-width: 300px !important;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px 15px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.lecture {
  background-color: yellowgreen;
}
.user {
  background-color: orange;
}
